$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'variables';

body {
  background: $background;
  font-family: 'Raleway', serif;
  font-weight: 400;
}

.top-container {
  padding: 0 $gutter;
  max-width: 35em;
  margin: 0 auto;
}

.master-container {
  padding: 0 $gutter;
  max-width: 60em;
  margin: 0 auto;
}

.nav-top {
  width: 100%;
  padding: 0 $gutter;
  margin: 0;
  background: black;
  color: #fff;
  z-index: 1;
  font-family: 'Raleway' , sans-serif;
  text-align: center;
}

.nav-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 0;

  &__item {
    width: 20%;
    padding: 0.5rem 0;
  }

  &__logo {
    width: 55%;
  }
}

.top-text {
  color: #fff;
}

.top-banner {
  margin: auto;
  padding: 5rem $gutter;
  background-size: cover;
  background-position: center;
  text-align: center;
  z-index: 0;
  font-family: Raleway, arial, sans-serif;
  color: #292828;
}

.blue-banner {
  margin: auto;
  padding: 5rem $gutter;
  background-size: cover;
  background-position: center;
  text-align: center;
  z-index: 0;
  font-family: Roboto, arial, sans-serif;
  color: $logo;
  background-color: $banner;
}

.projects-header {
  text-align: center;
  padding: 0.8rem 0 2rem;

  h3 {
    font-family: 'Raleway' , sans-serif;
    color: darken($border, 80%);
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem $gutter;

  &--info {
    width: 50%;
  }

  &--image {
    width: 50%;
    text-align: right;
    padding: 0 0 0 0.8rem;

    img {
      width: 100%;
      border: 0.01rem solid $border;
    }
  }

}

.row--middle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 0.5rem $gutter;

  &__info {
    width: 50%;
    flex-grow: 1;
  }

  &__image {
    width: 50%;
    text-align: left;
    padding: 0 0.8rem 0 0;

    img {
      width: 100%;
      border: 0.01rem solid $border;
    }
  }

}

.code {
  display: flex;
  flex-direction: column;
}

.footer-container {
  width: 100%;
  padding: 0 $gutter;
  margin-top: 3rem;
  background: #161616;
  color: $white;
}

.footer-content {
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 0 auto;
  font-size: 20pt;

  &__item {
    width: 20%;
    padding: 0.5rem 0;
  }

  &__logo {
    width: 45%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
  body {}

  .top-banner {
    padding: 2.5rem $gutter;
  }

  .row {
    flex-direction: column;
    flex-wrap: nowrap;

    &--info {
      width: 100%;
      padding: 0.5rem;
    }

    &--image {
      width: 100%;
      padding: 0.5rem;
    }
  }

  .row--middle {
    flex-direction: column;
    flex-wrap: nowrap;

    &__info {
      width: 100%;
      padding: 0.5rem;
    }

    &__image {
      width: 100%;
      padding: 0.5rem;
    }
  }

}

.photo-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin: 0.5rem 0;

  &--image__2 {
    width: 55%;
    min-height: 35vh;
    margin: 0 0.5rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: 50% 50%;

    img {
      position: absolute;
      width: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &--image {
    width: 45%;
    min-height: 35vh;
    margin: 0 0.5rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: 50% 50%;

    img {
      position: absolute;
      width: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}

.photo-row--bottom {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;

  margin: 0.5rem 0;

  &__image__2 {
    width: 55%;
    min-height: 35vh;
    margin: 0 0.5rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: 20% 10%;

    img {
      position: absolute;
      width: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &__image {
    width: 45%;
    min-height: 35vh;
    margin: 0 0.5rem;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

}

.hovertext {
  &__paragraph {
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 0;
    background: rgba(#2f2f2f,.6);
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hovertext:hover {
  opacity: 1;
  display: inline-block;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.hovertext__paragraph:hover {
  opacity: 1;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
